@import 'tailwindcss';

:root {
  --background: #d3cfcfab;
  --foreground: #0c1719;
  --accent: #4ab88b;
  --bright-green: #38ee7d;
  --turquoise: #5bd1c5;
  --blue: #227d94;
  --lite-grey: #fbfbfb;
  --grey: #909da2 /* колір використовується на текстах у кнопках*/;
}

@theme inline {
  --color-bgColor: var(--background);
  --color-main: var(--foreground);
  --color-main-grey: var(--grey);
  --color-accent: var(--accent);
  --color-bright-green: var(--bright-green);
  --color-turquoise: var(--turquoise);
  --color-blue: var(--blue);
  --color-lite-grey: var(--lite-grey);
  --shadow-base: 0px 0px 14px 0px rgba(74, 184, 139, 1);
  --radius-base: 20px;
}

.dark {
  --background: #0c1719;
  --foreground: #fff;
}

html {
  scroll-behavior: smooth;
}

/* примусове скидання стилів */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

input {
  cursor: text;
}

a {
  outline: none;
  display: inline-block;

  color: inherit;
  text-decoration: none;

  transition-duration: 250ms;
  transition-timing-function: ease;
}

button {
  display: block;
  box-sizing: border-box;

  outline: 0;

  background-color: transparent;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

img {
  display: block;
}

ul,
li,
ol {
  list-style: none;
}

/* стилі для текстів: для заголовку є окремий компонент, для підзаголовку стиль нижче, для інших текстів базові налаштування прописані у стилізуванні body вище*/

.subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

/* базовий градієнт */

.base-gradient {
  background: linear-gradient(176.74deg, #5bd187 2.69%, #227d94 97.32%);
}

/* стилі для іконок, які є у наших кнопок. налаштовано підскакування для іконки у секції Hero + поворіт іконок при ховері на кнопках. */

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Невеликий підскок */
  }
}

button:hover .bracket {
  rotate: 90deg;
  animation: bounce-slow 2s infinite ease-in-out;
}

button .arrow {
  transition: transform 0.5s ease-in-out;
}

button:hover .arrow {
  transform: rotate(45deg);
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.5s ease forwards;
  }

  .animate-fade-in-up {
    animation: fadeInUp 2.5s ease forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hww-section-gradient {
  background: linear-gradient(270deg, #38ef7d -122%, #227d94 214%);
}

.hww-gallery-gradient {
  background: linear-gradient(
    356.86deg,
    rgba(1, 60, 52, 0.2) 0.66%,
    rgba(63, 167, 142, 0.2) 18.07%,
    rgba(71, 199, 193, 0.2) 32.1%,
    rgba(77, 222, 229, 0.2) 48.54%,
    rgba(57, 181, 187, 0.2) 61.6%,
    rgba(34, 136, 141, 0.2) 75.63%,
    rgba(12, 73, 78, 0.2) 97.39%
  );
}

.hww .slick-list,
.hww .slick-track,
.hww .slick-slide > div {
  height: 100%;
}

.hww .slick-slide .swiper-container {
  display: flex !important;
}
