/* slick */

.news-slick {
  padding-bottom: 98px !important;
}

.news-slick .swiper-pagination {
  width: 90px;
  bottom: 15px;
  position: absolute;
  left: 42px;
}

.news-slick-next,
.news-slick-prev {
  position: absolute;
  bottom: 0px;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.news-slick-next {
  left: 124px;
}

.news-slick-prev {
  left: 0;
}
