.news-slick {
  padding-bottom: 48px !important;
}

.news-slick-next,
.news-slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.news .custom-pagination {
  width: fit-content !important;
}
