.portfolio .swiper {
  padding: 10px 0 !important;
  margin-left: -290px !important;
  position: static;

  @media screen and (min-width: 768px) {
    margin-left: -150px !important;
  }
}

.portfolio .swiper-slide {
  width: 560px !important;
  height: 384px !important;
}

.portfolio-slick .swiper-pagination {
  width: fit-content;
  bottom: 0;
  position: absolute;
  left: calc(50% - 482px);
}

.portfolio-slick .swiper-pagination-bullets {
  width: fit-content !important;
}

.portfolio-slick-next,
.portfolio-slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.portfolio-slick-next {
  left: 204px;
}

.portfolio-slick-prev {
  left: 0;
}

.portfolio .custom-pagination {
  width: fit-content !important;
}

.link::before,
.link::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 35px;
  border-radius: 40px;
  box-shadow: 17px 16px 0 0px var(--color-bgColor);
}

.link::before {
  left: 14px;
  bottom: 63px;

  /* box-shadow: 17px 16px 0 0px #f83232; */
}

.link::after {
  right: 61px;
  top: 29px;

  /* box-shadow: 17px 16px 0 0px #8832f8; */
}
